## OSPI Enrollment 2023-24 Dataset

The Office of the Superintendent of Public Instruction (OSPI) maintains a repository of data that is available for public use. In my previous role as the tuition and financial aid director for a private high school, my team and I used data from OSPI to gain understanding of overall student enrollment in Washington State and to guide our strategic enrollment goals and long-term budgeting.

In [ ]:
# Import necessary libraries for assignment
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [45]:

# Reads OSPI enrollment CSV files into a DataFrame.

def load_enrollment_data(file_path):    
    try:
        # Load the CSV file into a DataFrame
        df = pd.read_csv(file_path)
        
        return df
    
    except FileNotFoundError:
        print(f'File not found: {file_path}')
        return None

# Read OSPI Enrollment Data into DataFrames    
df_24 = load_enrollment_data('Report_Card_Enrollment_2023-24.csv')
df_23 = load_enrollment_data('Report_Card_Enrollment_2022-23.csv')
df_22 = load_enrollment_data('Report_Card_Enrollment_2021-22.csv')
df_21 = load_enrollment_data('Report_Card_Enrollment_2020-21.csv')
df_20 = load_enrollment_data('Report_Card_Enrollment_2019-20.csv')

In [48]:
# Function to reorder columns based on a reference DataFrame, then concatenate
def reorder_and_concat(*dataframes):
    try:
        # Standardize column names
        for df in dataframes:
            df.columns = df.columns.str.lower()  # Convert to lowercase
            df.columns = df.columns.str.replace(r"[_\-/]", " ", regex=True)  # Replace _, -, or / with a space
        
        # Use the columns from the first DataFrame as the reference
        reference_columns = dataframes[0].columns
        
        # Reorder each DataFrame to match the reference column order
        reordered_dfs = [df[reference_columns] for df in dataframes]
        
        # Concatenate the reordered DataFrames along rows
        concatenated_df = pd.concat(reordered_dfs, axis=0)
        
        print("DataFrames concatenated successfully with aligned columns.")
        return concatenated_df
    
    except Exception as e:
        print("Columns do not match. Concatenation failed.")
        return None

concat_df = reorder_and_concat(df_24, df_23, df_22, df_21, df_20)
print(concat_df) # Will print None if concatenation fails

DataFrames concatenated successfully with aligned columns.
      schoolyear organizationlevel    county  \
0        2023-24          District     Adams
1        2023-24          District     Adams
2        2023-24          District     Adams
3        2023-24          District     Adams
4        2023-24          District     Adams
...          ...               ...       ...
19934    2019-20             State  Multiple
19935    2019-20             State  Multiple
19936    2019-20             State  Multiple
19937    2019-20             State  Multiple
19938    2019-20             State  Multiple

                                esdname  esdorganizationid  districtcode  \
0      Educational Service District 101            100,001         1,109
1      Educational Service District 101            100,001         1,109
2      Educational Service District 101            100,001         1,109
3      Educational Service District 101            100,001         1,109
4      Educational Service District 101            100,001         1,109
...                                 ...                ...           ...
19934                       State Total                NaN           NaN
19935                       State Total                NaN           NaN
19936                       State Total                NaN           NaN
19937                       State Total                NaN           NaN
19938                       State Total                NaN           NaN

                    districtname  districtorganizationid  schoolcode  \
0      Washtucna School District                 100,287         NaN
1      Washtucna School District                 100,287         NaN
2      Washtucna School District                 100,287         NaN
3      Washtucna School District                 100,287         NaN
4      Washtucna School District                 100,287         NaN
...                          ...                     ...         ...
19934                State Total                     NaN         NaN
19935                State Total                     NaN         NaN
19936                State Total                     NaN         NaN
19937                State Total                     NaN         NaN
19938                State Total                     NaN         NaN

           schoolname  ...  non foster care non highly capable non homeless  \
0      District Total  ...                0                  5            5
1      District Total  ...                0                  9            9
2      District Total  ...                0                  6            6
3      District Total  ...                0                  3            3
4      District Total  ...                0                  5            5
...               ...  ...              ...                ...          ...
19934     State Total  ...            84879              79472        83051
19935     State Total  ...          1140070            1073801      1114215
19936     State Total  ...              410                410          388
19937     State Total  ...            82140              81623        79963
19938     State Total  ...            33747              33867        33059

       non low income  non migrant  non military parent  non mobile  \
0                   0            5                    5           5
1                   2            9                    9           8
2                   2            6                    6           6
3                   0            3                    3           3
4                   1            5                    5           5
...               ...          ...                  ...         ...
19934           46114        83475                83598       84293
19935          610696      1123358              1115910     1126840
19936             264          407                  408         394
19937           45274        81122                79195       81280
19938           18202        33526                32655       30935

       non section 504  students without disabilities                dataasof
0                    5                              5  06/18/2024 12:00:00 AM
1                    9                              8  06/18/2024 12:00:00 AM
2                    4                              6  06/18/2024 12:00:00 AM
3                    3                              3  06/18/2024 12:00:00 AM
4                    5                              3  06/18/2024 12:00:00 AM
...                ...                            ...                     ...
19934            80460                          74613           12/22/23 0:00
19935          1099760                         975921           12/22/23 0:00
19936              411                            377           12/22/23 0:00
19937            81911                          72329           12/22/23 0:00
19938            33807                          14781           12/22/23 0:00

[101812 rows x 45 columns]

In [47]:
print('Dataframe objects:')
print(df_20.columns) 
print('*'*100)
print(df_21.columns) 
print('*'*100)
print(df_22.columns) 
print('*'*100)
print(df_23.columns) 
print('*'*100)
print(df_24.columns) 
print('*'*100)

Dataframe objects:
Index(['schoolyear', 'organizationlevel', 'county', 'esdname',
       'esdorganizationid', 'districtcode', 'districtname',
       'districtorganizationid', 'schoolcode', 'schoolname',
       'schoolorganizationid', 'currentschooltype', 'gradelevel',
       'all students', 'female', 'gender x', 'male',
       'american indian/ alaskan native', 'asian', 'black/ african american',
       'hispanic/ latino of any race(s)',
       'native hawaiian/ other pacific islander', 'two or more races', 'white',
       'english language learners', 'foster care', 'highly capable',
       'homeless', 'low-income', 'migrant', 'military parent', 'mobile',
       'section 504', 'students with disabilities',
       'non-english language learners', 'non foster care',
       'non-highly capable', 'non-homeless', 'non-low income', 'non migrant',
       'non military parent', 'non mobile', 'non section 504',
       'students without disabilities', 'dataasof'],
      dtype='object')
****************************************************************************************************
Index(['schoolyear', 'organizationlevel', 'county', 'esdname',
       'esdorganizationid', 'districtcode', 'districtname',
       'districtorganizationid', 'schoolcode', 'schoolname',
       'schoolorganizationid', 'currentschooltype', 'gradelevel',
       'all students', 'female', 'gender x', 'male',
       'american indian/ alaskan native', 'asian', 'black/ african american',
       'hispanic/ latino of any race(s)',
       'native hawaiian/ other pacific islander', 'two or more races', 'white',
       'english language learners', 'foster care', 'highly capable',
       'homeless', 'low-income', 'migrant', 'military parent', 'mobile',
       'section 504', 'students with disabilities',
       'non-english language learners', 'non foster care',
       'non-highly capable', 'non-homeless', 'non-low income', 'non migrant',
       'non military parent', 'non mobile', 'non section 504',
       'students without disabilities', 'dataasof'],
      dtype='object')
****************************************************************************************************
Index(['schoolyear', 'organizationlevel', 'county', 'esdname',
       'esdorganizationid', 'districtcode', 'districtname',
       'districtorganizationid', 'schoolcode', 'schoolname',
       'schoolorganizationid', 'currentschooltype', 'gradelevel',
       'all students', 'female', 'gender x', 'male',
       'american indian/ alaskan native', 'asian', 'black/ african american',
       'hispanic/ latino of any race(s)',
       'native hawaiian/ other pacific islander', 'two or more races', 'white',
       'english language learners', 'foster care', 'highly capable',
       'homeless', 'low-income', 'migrant', 'military parent', 'mobile',
       'section 504', 'students with disabilities',
       'non-english language learners', 'non-foster care',
       'non-highly capable', 'non-homeless', 'non-low income', 'non migrant',
       'non military parent', 'non mobile', 'non section 504',
       'students without disabilities', 'dataasof'],
      dtype='object')
****************************************************************************************************
Index(['schoolyear', 'organizationlevel', 'county', 'esdname',
       'esdorganizationid', 'districtcode', 'districtname',
       'districtorganizationid', 'schoolcode', 'schoolname',
       'schoolorganizationid', 'currentschooltype', 'gradelevel',
       'all students', 'female', 'gender x', 'male',
       'american indian/ alaskan native', 'asian', 'black/ african american',
       'hispanic/ latino of any race(s)',
       'native hawaiian/ other pacific islander', 'two or more races', 'white',
       'english language learners', 'foster care', 'highly capable',
       'homeless', 'low-income', 'migrant', 'military parent', 'mobile',
       'section 504', 'students with disabilities',
       'non-english language learners', 'non-foster care',
       'non-highly capable', 'non-homeless', 'non-low income', 'non migrant',
       'non military parent', 'non mobile', 'non section 504',
       'students without disabilities', 'dataasof'],
      dtype='object')
****************************************************************************************************
Index(['schoolyear', 'organizationlevel', 'county', 'esdname',
       'esdorganizationid', 'districtcode', 'districtname',
       'districtorganizationid', 'schoolcode', 'schoolname',
       'schoolorganizationid', 'currentschooltype', 'gradelevel',
       'all students', 'female', 'gender x', 'male',
       'american indian/ alaskan native', 'asian', 'black/ african american',
       'hispanic/ latino of any race(s)',
       'native hawaiian/ other pacific islander', 'two or more races', 'white',
       'english language learners', 'foster care', 'highly capable',
       'homeless', 'low-income', 'migrant', 'military parent', 'mobile',
       'section 504', 'students with disabilities',
       'non-english language learners', 'non-foster care',
       'non-highly capable', 'non-homeless', 'non-low income', 'non migrant',
       'non military parent', 'non mobile', 'non section 504',
       'students without disabilities', 'dataasof'],
      dtype='object')
****************************************************************************************************

In [27]:
# Check DataFrame columns and concatenate (stack rows) if columns match
def check_columns_and_concat(df1, df2):
    if df1.columns.equals(df2.columns):
        print('{df1} and {df2} concatenated successfully')
        return pd.concat([df1, df2], axis=0)
    else:
        print("Columns do not match. Concatenation failed.")
        return None

# Check and Concatenate DataFrames one-by-one
concat_df = check_columns_and_concat(df_23, df_24)

print(concat_df)

Columns do not match. Concatenation failed.
None

In [ ]:
# Re-order columns for concatenation
new_order = ['pokedex_number', 'name', 'type1', 'type2', 'hp', 'attack', 'defense', 'sp_attack', 'sp_defense', 'speed',
            'classfication', 'generation', 'is_legendary', 'abilities', 'japanese_name']

df = df[new_order]

In [ ]:
# Analyze the 2023-2024 dataset to create baseline understanding

print('Display the first 5 rows of the OSPI dataframe')
print(df.head(5)) # Display the first 5 rows of the Dataframe
print("*"*75)

print('Dataframe info:')
print(df.info()) # Display info about the data, including shape & column info
print("*"*75)


print('Missing data:')
print(df.isnull().sum()) # Display columns with missing data

### Business Questions for Analysis

- How is enrollment trending since 2020/post-COVID era (2020-2021, 2021-2022, 2022-2023, 2023-2024)
    - by class
- Can we see a heatmap of enrollment increases/decreases across school districts?
- Isolate Spokane area schools and do same analysis as above
    - may require school - zip code dataset to cross-reference
    - is Spokane County good enough for aggregation?

<mark>read in prior year data sets and merge into one larger set <mark>

In [ ]:
# Remove rows with missing or duplicated values from dataframe

cleaned_df = df.dropna()
cleaned_df = cleaned_df.drop_duplicates() 
cleaned_df

## Enrollment Trends

Using merged datasets from above, produce plot line of enrollment change from 2020 to present.

In [ ]:
enrollment_data = df.pivot_table(values="All Students", index="GradeLevel", columns="SchoolYear", aggfunc="sum")
enrollment_data = enrollment_data.style.format("{:,.0f}")

enrollment_data

In [ ]:
enrollment_data = df.pivot_table(values="All Students", index=["SchoolName","GradeLevel"], columns=["County","SchoolYear"], aggfunc="sum", fill_value=0)
enrollment_data = enrollment_data.style.format("{:,.0f}")

enrollment_data

In [ ]:
print('Dataframe objects:')
print(cleaned_df.columns) # Display the columns for df.drop call

In [ ]:
trunc_df = cleaned_df.drop([['SchoolYear', 'OrganizationLevel', 'County', 'ESDName',
       'ESDOrganizationID', 'DistrictCode', 'DistrictName',
       'DistrictOrganizationId', 'SchoolCode', 'SchoolName',
       'SchoolOrganizationID', 'CurrentSchoolType', 'GradeLevel',
       'All Students', 'Female', 'Gender X', 'Male',
       'American Indian/ Alaskan Native', 'Asian', 'Black/ African American',
       'Hispanic/ Latino of any race(s)',
       'Native Hawaiian/ Other Pacific Islander', 'Two or More Races', 'White',
       'English Language Learners', 'Foster Care', 'Highly Capable',
       'Homeless', 'Low-Income', 'Migrant', 'Military Parent', 'Mobile',
       'Section 504', 'Students with Disabilities',
       'Non-English Language Learners', 'Non-Foster Care',
       'Non-Highly Capable', 'Non-Homeless', 'Non-Low Income', 'Non Migrant',
       'Non Military Parent', 'Non Mobile', 'Non Section 504',
       'Students without Disabilities', 'DataAsOf']], axis=1)

In [ ]:
# Display statistical summary of data
print('Statistical summary of dataframe')
print(df.describe())

In [ ]:
# Data Definition
pd.pivot_table(ospi_df, values = 'school', index = 'Female', 'Male', 'All Students')

<mark>Type Analysis Here</mark>

hello